body,
html,
h1,
h3,
h2,
h3,
h4,
h5,
h6,
ul,
dl,
dt,
dd,
p,
input,
figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,PingHei,PingFang SC,STHeitiSC-Light,Microsoft YaHei,"微软雅黑",Arial,sans-serif;
  font-size: 14px;
}

.iconfont {
  font-size: 16px;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
img,
em,
button,
input,
select {
  /* 解决基线对齐问题 */
  vertical-align: middle;
  /* 解决旧版本的ie 图片默认边框 */
  border: 0;
}
.special {
  position: relative;
}
.special::before {
  content: '特卖';
  position: absolute;
  right: -7px;
  width: 29px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  background-color: #f2ba1b;
}
a {
  /* 清除a标签默认样式 */
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #f43636;
}
ul,
dd {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.red {
  color: #d60000;
}
i,
em,
var {
  /* 去除文字倾斜 */
  font-style: normal;
}
.tc {
  text-align: center;
}
.backbj .twd2, .backbj .twd3, .backbj .twd4, .backbj .twd5 {
  position: absolute;
  top: 50%;
  margin-top: -11px;
  font-size: 12px;
}



/* 公共样式 */
.arc_list {
  width: 75pc;
  margin: 0 auto;
}
.am-g {
  margin: 0 auto;
  width: 100%;
}
.cell-one {
  margin-top: 15px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.am-g:before, .am-g:after {
  content: " ";
  display: table;
}
.am-g:after {
  clear: both;
}
.am-u-sm-8 {
  width: 66.66666667%;
}
.am-u-sm-4 {
  width: 33.33333333%;
}
[class*="am-u-"] + [class*="am-u-"]:last-child {
  float: right;
}


/* 公共样式结束 */